<div id="logo">
  <img src="/assets/logo.png">
</div>

<div class="text-center" id="quote">
  <div class="trans-bgrd text-center">
    <% if current_user %>
      <%= form_for @pack do |f| %>
        <div class="row">
          How much do you pay for a pack of cigarettes?</br></br>
          <%= f.text_field :price_pack %>
        </div>
  </div>
</div>

<div class="text-center" id="buttons">
    <%= image_submit_tag("/assets/submit.png", class: "submit") %>
    <% end %>
</div>
<% end %>

<div class="text-center" id="color-bar">
  <div id="yellow"></div>
  <div id="blue"></div>
  <div id="red"></div>
  <div id="green"></div>
</div>
