/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require foundation

 */

@import 'foundation';
@import 'settings';

$dark-blue: #232536;
$gray: #FFFEFD;
$light-blue: #50587B;
$lighter-blue: #394164;
$dark-red: #CC324C;
$light-red: #E64C66;
$yellow: #F8B73A;
$green: #0FA9AB;
$baby-blue: #46C9F2;
$white: #fff;

ul { list-style-type: none; }
li { list-style-type: none; }
body { background-color: $dark-blue; color: $gray; font-family: "Nunito"; font-size: 20px; }
h1 { color: $white; font-family: "Nunito"; font-size: 26px; font-weight: bold; }
h2 { color: $gray; font-family: "Nunito"; font-size: 26px; font-weight: bold; }
h3 { color: $light-blue; font-family: "Nunito"; font-size: 26px; font-weight: bold; }

h4 { color: $green; font-family: "Nunito"; font-size: 26px; font-weight: bold; }
h5 { color: $light-red; font-family: "Nunito"; font-size: 26px; font-weight: bold; }
h6 { color: $baby-blue; font-family: "Nunito"; font-size: 26px; font-weight: bold; }
p { text-align: left; }

a { color: $light-blue; font-weight: bold; font-size: 22px; }
a:hover { color: $gray; font-weight: bold; font-size: 22px; }

input, button :focus { outline:0 !important; }

#bank {
  color: $light-blue;
  font-family: "Nunito";
  font-size: 26px;
  font-weight: bold;
}

.actions {
  color: $light-blue;
  font-weight: bold;
}

#logo {
  height: auto;
  width: 100%;
  padding: 5%;
  background-color: $dark-red;
}

#quote {
  height: auto;
  width: 100%;
  padding: 5%;
  font-size: 20px;
  color: $white;
  background-color: $light-red;
}

.trans-bgrd {
  padding: 5%;
  -moz-border-radius: 15px;
  -webkit-border-radius: 15px;
  border-radius: 15px;
  color: $white;
  margin: auto 5%;
  background-color: $dark-red;
}

.trans-bgrd label {
  color: $white;
  font-family: "Nunito";
  font-size: 20px;
}

#buttons {
  height: auto;
  width: 100%;
  padding: 5%;
  background-color: #394164;
}

#buttons2 {
  width: 100%;
  height: auto;
  background-color: $lighter-blue;
}

.left-button {
  background-color: $lighter-blue;
  height: 100%;
  padding: 5% 1% 5% 15%;
}

.right-button {
  background-color: $lighter-blue;
  height: 100%;
  padding: 5% 15% 5% 1%;
}

.content {
  height: 90%;
  width: 70%;
  margin: 7% auto;
  background-color: $dark-blue;
  max-width: 1000px;
}

.one *{
  display: inline;
}

.menu {
  height: auto;
}

.inline-content *{
  display: inline;
}

#color-bar {
  width: 100%;
  height: 9px;
  margin-top: 4%;
}

#color-bar2 {
  width: 100%;
  height: 9px;
  margin-top: 30%;
}

#yellow {
  width: 25%;
  height: 9px;
  background-color: $yellow;
  display: inline-block;
  float: left;
}

#blue{
  width: 25%;
  height: 9px;
  background-color: $baby-blue;
  display: inline-block;
  float: left;
}

#red {
  width: 25%;
  height: 9px;
  background-color: $light-red;
  display: inline-block;
  float: left;
}

#green {
  width: 25%;
  height: 9px;
  background-color: $green;
  display: inline-block;
  float: left;
}

input#pack_price_pack {
  text-align: right;
  width: 40%;
  margin: auto;
}

label#pack_price_pack {
  margin: auto;
}

#top-btn {
padding: 10% 0 0 0;
 clear: both;
}

.neg {
  background-image: url("/assets/neg.png");
  background-repeat: no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  width: 120px;
  height: 105px;
  margin: auto;
  line-height: 105px;
  vertical-align: middle;
  font-weight: bold;
  color: $gray;
  font-size: 23px;
}

.pos {
  background-image: url("/assets/pos.png");
  background-repeat: no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  width: 120px;
  height: 105px;
  vertical-align: middle;
  line-height: 105px;
  margin: auto;
  font-weight: bold;
  color: $gray;
  font-size: 23px;
}
