/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require foundation

 */

ul { list-style-type: none; }
body { background-color: #232536; color: #FFFEFD; font-family: "Nunito"; font-size: 22px; }
h1 { color: #FFFEFD; font-family: "Nunito"; font-size: 30px; font-weight: bold; }
h2 { color: #FFFEFD; font-family: "Nunito"; font-size: 26px; font-weight: bold; }
h3 { color: #50587B; font-family: "Nunito"; font-size: 26px; font-weight: bold; }
a { color: #50587B; }
a:hover { color: #FFFEFD; }

#bank {
  color: #50587B; font-family: "Nunito"; font-size: 26px; font-weight: bold;
}

#logo {
  height: auto;
  width: 100%;
  padding: 5%;
  background-color: #CC324C;
}

#quote {
  height: auto;
  width: 100%;
  padding: 5%;
  font-size: 20px;
  font-weight: bold;
  color: #fff;
  background-color: #E64C66;
}

.trans-bgrd {

  padding: 1%;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
  border: 2px solid #fff;
}

#buttons {
  height: auto;
  width: 100%;
  padding: 5%;
  background-color: #394164;
}

.content {
  height: 90%;
  width: 80%;
  margin:10% auto;
  background-color: #232536;
  max-width: 1000px;
}

.inline-content *{
  display: inline;
}
